[submodule "registry"]
	path = registry
	url = git@github.com:trusttoken/registry.git

[submodule "contracts/lib/uniswap"]
	path = contracts/lib/uniswap
	url = git@github.com:wjmelements/contracts-vyper.git
