version: 2.1

commands:
  install_node:
    steps:
      - run:
          name: Install Node
          command: |
            curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.34.0/install.sh | bash
            echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
            source $BASH_ENV
            nvm install 11.4.0
  
  install_vyper:
     steps:
      - run:
          name: Install vyper
          command: sudo pip install vyper

  install_dependencies:
    steps:
      - restore_cache:
          name: Restore NPM cache
          keys:
            - npm-packages-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: |
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            nvm use default
            npm ci
      - save_cache:
          name: Save NPM cache
          key: npm-packages-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm

jobs:
  test:
    docker:
      - image: circleci/python:3.6.4
    steps:
      - install_node
      - install_vyper
      - checkout
      - install_dependencies
      - run: |
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          nvm use default
          npm test

workflows:
  version: 2
  test:
    jobs:
      - test
