version: 2.1

commands:
  pull_submodules:
    steps:
      - run:
          name: Pull submodules
          command: git submodule init && git submodule update
  install_dependencies:
    steps:
      - restore_cache:
          name: Restore modules cache
          keys:
            - node_modules-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save modules cache
          key: node_modules-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules

jobs:
  build:
    docker:
      - image: circleci/node:12.19.0
    steps:
      - checkout
      - setup_remote_docker
      - pull_submodules
      - install_dependencies
      - run: yarn build
      - run: yarn typecheck
      - persist_to_workspace:
          root: .
          paths:
            - .

  lint:
    docker:
      - image: circleci/node:12.19.0
    steps:
      - attach_workspace:
          at: .
      - run: yarn lint
  test-group1:
    docker:
      - image: circleci/node:12.19.0
    steps:
      - attach_workspace:
          at: .
      - run: yarn test:governance && yarn test:proxy && yarn test:registry && yarn test:scripts
  test-group2:
    docker:
      - image: circleci/node:12.19.0
    steps:
      - attach_workspace:
          at: .
      - run: yarn test:true-currencies && yarn test:true-gold
  test-group3:
    docker:
      - image: circleci/node:12.19.0
    steps:
      - attach_workspace:
          at: .
      - run: yarn test:truefi:loans && yarn test:truefi:others
  test-group4:
    docker:
      - image: circleci/node:12.19.0
    steps:
      - attach_workspace:
          at: .
      - run: yarn test:truefi:service
  test-group5:
    docker:
      - image: circleci/node:12.19.0
    steps:
      - attach_workspace:
          at: .
      - run: yarn test:trusttoken
  upgrade:
    docker:
      - image: circleci/node:12.19.0
    steps:
      - attach_workspace:
          at: .
      - run: yarn test:upgrade

workflows:
  version: 2
  test:
    jobs:
      - build
      - lint:
          requires:
            - build
      - test-group1:
          requires:
            - build
      - test-group2:
          requires:
            - build
      - test-group3:
          requires:
            - build
      - test-group4:
          requires:
            - build
      - test-group5:
          requires:
            - build
      - upgrade:
          requires:
            - build
