version: 2.1

commands:
  setup_vyper:
    steps:
      - run:
          name: Build vyper docker image
          command: docker build . -f ~/project/VyperCircleCIDockerfile -t vyper
      - run:
          name: Setup vyper
          command: sudo cp ~/project/.circleci/vyper /bin && sudo chmod a+x /bin/vyper
  pull_submodules:
    steps:
      - run:
          name: Pull submodules
          command: git submodule init && git submodule update
  install_dependencies:
    steps:
      - restore_cache:
          name: Restore modules cache
          keys:
            - node_modules-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save modules cache
          key: node_modules-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules

jobs:
  test:
    docker:
      - image: circleci/node:11.15
    steps:
      - checkout
      - setup_remote_docker
      - pull_submodules
      - install_dependencies
      - setup_vyper
      - run: yarn lint
      - run: yarn test

workflows:
  version: 2
  test:
    jobs:
      - test
